
@media screen and (min-width: 428px) and (max-width: 767px) {
  .container {
    max-width: 428px;
    
  }  
   
  .menu-nav {
    display: none;
  }
  .address-list {
    display: none;
  }  
  .header .container
  .header-btn {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    border: none;
    background: none;
    cursor: pointer;
  }
  .js-menu-container.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .js-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 40px;
    background: var(--hero-color);
  }
   .menu-toggle.js-close-menu {
    position: absolute;
     top: 24px;
     right: 24px;
      width: 24px;
      height: 24px;
      padding: 0;
      background-color: var(--hero-color);;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
    .menu-toggle.js-close-menu:hover,
    .menu-toggle.js-close-menu:focus{
      background-color: var(--activebutton-background);
    }
    .menu-close-icon {
      position: absolute;
      left: 33.33%;
      right: 33.33%;
      top: 33.33%;
      bottom: 33.33%;
      fill: var(--title-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .js-close-menu:hover .menu-close-icon,
    .js-close-menu:focus .menu-close-icon {
      fill: var(--hero-color);
    }
    
    .mobile-nav{
    display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 40px;
      margin-top: 80px;
      margin-bottom: 280px;
    }
    
    .mobile-link {
      font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--title-color);
    }
    .current-page {
        color: var(--activebutton-background);
    }
    
   .mobile-contacts {
      margin-top: auto;
      margin-bottom: 48px;
  }
  .mobile-menu-tel {
    display: block;
    width: 100%;
    margin: auto auto 0;
    font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: var(--logo-color);
    }
    .mobile-menu-mail {
      font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--text-color);
      margin-top: 40px;
      margin-bottom: 0;
    }
  .js-menu-container .social-links {
    display: flex;
    justify-content: space-between;
    gap: 56px;
    margin: auto auto 0;
  } 
  .hero {
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Hero/hero-mobile.jpg);
    background-size: cover;
  }
  .hero-container {
    max-width: 480px;
    text-align: center;
    color: var(--hero-color);
    
  }
  
  .hero-title {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  
    .hero-btn {
       margin-top: 36px;
    }
    .modal {
          position: absolute;
          min-width: 392px;
          min-height: 586px;
          left: 50%;
          top: 50%;
          padding: 16px;
          transform: translate(-50%, -50%);
          background: #FCFCFC;
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
          border-radius: 4px;
          transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
                   
    .order-form {
          min-width: 360px;
          margin: 48px auto 0;
        }
    
  .about {
    padding: 96px 0;
    
  }
  .about > .container{
    align-items: center;
  }
  .about-list {
    display: block;
    
  }
  .about-item:not(:first-child) {
    
    margin-top: 72px;
  }
  .about-icon {
    display: none;
  }
  .about-item > .item-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    
  }
  
  .examples {
    display: none;
  }
    .team-cards {
      background: var(--substrate-color);
      padding-top: 96px;
      padding-bottom: 96px;
      text-align: center;
  }
    .team-cards  .subtitle {
      font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
    } 
    .card {
      max-width: 264px;
      text-align: center;
      background: var(--substrate-color);
      margin: 72px auto 0;
    }
    
    .card-item {
      
      background: var(--hero-color);
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
      border-radius: 0px 0px 4px 4px;
    }
        .card-item:not(:first-child) {
          margin-top: 72px;
        }
    .social-links {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      gap: 24px;
      margin-top: 8px;
      margin-bottom: 0;
    }
    .social-links-item-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: var(--logo-color);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .social-links-item-link:hover,
    .social-links-item-link:focus {
      background-color: var(--activebutton-background);
    }
    .social-links-icon {
      fill: var(--substrate-color);
    }
    .customers {
      text-align: center;
      padding: 96px 0;
    }
    .customers .subtitle {
      font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
    }
  .customers-logo {
    display: flex;
    flex-wrap: wrap;
    max-width: 396px;
    margin: 72px auto 0; 
    justify-content: space-between;
    row-gap: 72px;
    column-gap: 16px;
  }
  .customers-logo-item {
    flex-basis: calc((100% - 16px) /2);
    margin-top: 0;
  }
  
    .footer {
      background: var(--title-color);
      
      align-items: center;
    }
    
    .footer-first {
      max-width: 268px;
      margin-left: auto;
      margin-right: auto;
      
    }
   
    .text-footer {
      width: 100%;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--accent-color);
      margin-top: 16px;
    }

  .footer-second {
    max-width: 208px;
    text-align: center;
    margin: 72px auto;
    padding: 0;
  }
    .footer-title {
      color: var(--accent-color);
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.02em;
    }
  
    .social-links-footer {
      display: flex;
      justify-content: space-between;
      gap: 16px;
      margin-top: 16px;
      margin-bottom: 32px;
    }
  .footer-third {
    max-width: 398px;
    margin: 0 auto;
    text-align: center;
   }
    .subscribe-input {
      display: block;
      width: 100%;
      height: 40px;
      margin: 16px 0;
      padding: 8px 16px;
      border: 1px solid var(--hero-color);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      background-color: transparent;
      color: var(--hero-color);
    }
  
    .subscribe-input::placeholder {
      color: var(--hero-color);
      opacity: 0.6;
    }
  
    .subscribe-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 40px;
      padding: 8px 24px;
      margin: 0 auto;
      gap: 16px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      background-color: var(--logo-color);
      color: var(--hero-color);
      border-radius: 4px;
      border: none;
      cursor: pointer;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .subscribe-btn:hover,
    .subscribe-btn:focus {
      background: var(--activebutton-background);
      color: var(--hero-color);
    }
  
    .subscribe-btn-icon {
      display: flex;
    }
    }     
   @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
       screen and (min-resolution: 192dpi) and (max-width: 767px),
       screen and (min-resolution: 2dppx) and (max-width: 767px) {
   .hero {     
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/Hero/hero-mobile@2x.jpg);  
 }  
       }